<div class="game-item game-item-2 game_row_1207658890 game_row " data-title="neverwinter nights diamond edition hasbro inc bioware rpg adventure fantasy" id="g_1207658890" > 
    <div class="game-item__inner"> 
        <a class="game-item-box" href="/game/neverwinter_nights_diamond_edition" > 
            <img class="game-item-img" alt="Neverwinter Nights: Diamond Edition" src="http://static.gog.com/upload/images/2010/10/ace271bc4ec13e66258bbb88bac68f524f68a4c6.jpg"/> 
        </a> 
        <span class="gog-price " data-gameid="1207658890" data-gameindex="neverwinter_nights_diamond_edition"> 
            <span class="price">
                <span>$</span>
                9.99
            </span> 
            <span class="in-cart">in cart</span> 
            <span class="wishlist-icon"></span> 
            <span class="game-owned-in">OWNED</span>
        </span> 
        <div class="game-item-text"> 
            <div class="game-item-title"> 
                <div class="game-item-title-in"> 
                    <a class="game-title-link" href="/game/neverwinter_nights_diamond_edition" > 
                        <span class="dark_un"> Neverwinter Nights: Diamond Edition </span> 
                    </a> 
                    <div class="game-item-info">
                        <span class="game-item-works">
                            Works on:&nbsp; <i class="fi icon-win"></i> 
                        </span> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
    <!-- game-item__inner -->
</div>


<div class="game-item game-item-2 game_row_1207659162 game_row " data-title="neverwinter nights 2 complete hasbro inc obsidian entertainment rpg adventure fantasy" id="g_1207659162" > <div class="game-item__inner"> <a class="game-item-box" href="/game/neverwinter_nights_2_complete" > <img class="game-item-img" alt="Neverwinter Nights 2: Complete" src="http://static.gog.com/upload/images/2013/01/aa12ac5fadf96be286c8c270fad9f70697abf0f7.jpg"/> </a> <span class="gog-price " data-gameid="1207659162" data-gameindex="neverwinter_nights_2_complete"> <span class="price"><span>$</span>19.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/neverwinter_nights_2_complete" > <span class="dark_un"> Neverwinter Nights 2: Complete </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207658930 game_row " data-title="witcher 2 assassins of kings the cd projekt cd projekt red rpg action fantasy" id="g_1207658930" > <div class="game-item__inner"> <a class="game-item-box" href="/game/the_witcher_2" > <img class="game-item-img" alt="Witcher 2: Assassins Of Kings, The" src="http://static.gog.com/upload/images/2012/04/8636efd91a92d31dd78bb007adacdb8aaa6dc858.jpg"/> </a> <span class="gog-price " data-gameid="1207658930" data-gameindex="the_witcher_2"> <span class="price"><span>$</span>19.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/the_witcher_2" > <span class="dark_un"> Witcher 2: Assassins Of Kings, The </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207658924 game_row " data-title="witcher enhanced edition the cd projekt cd projekt red rpg action fantasy" id="g_1207658924" > <div class="game-item__inner"> <a class="game-item-box" href="/game/the_witcher" > <img class="game-item-img" alt="Witcher: Enhanced Edition, The" src="http://static.gog.com/upload/images/2011/04/a796662dd01ae9010e72ff391ae25da7cada65d3.jpg"/> </a> <span class="gog-price " data-gameid="1207658924" data-gameindex="the_witcher"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/the_witcher" > <span class="dark_un"> Witcher: Enhanced Edition, The </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207658928 game_row " data-title="dungeons dragons dragonshard hasbro inc liquid entertainment strategy rpg fantasy" id="g_1207658928" > <div class="game-item__inner"> <a class="game-item-box" href="/game/dungeons_dragons_dragonshard" > <img class="game-item-img" alt="Dungeons & Dragons: Dragonshard" src="http://static.gog.com/upload/images/2011/04/7f9d6441dd43f181ef8a14b14946cacd945ffc94.jpg"/> </a> <span class="gog-price " data-gameid="1207658928" data-gameindex="dungeons_dragons_dragonshard"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/dungeons_dragons_dragonshard" > <span class="dark_un"> Dungeons & Dragons: Dragonshard </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659102 game_row " data-title="ftl faster than light subset games subset games strategy simulation scifi" id="g_1207659102" > <div class="game-item__inner"> <a class="game-item-box" href="/game/faster_than_light" > <img class="game-item-img" alt="FTL: Faster Than Light" src="http://static.gog.com/upload/images/2012/09/2918ab3aa6de3ac2b6eb4f5f5ea335d2d4472ffb.jpg"/> </a> <span class="gog-price " data-gameid="1207659102" data-gameindex="faster_than_light"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/faster_than_light" > <span class="dark_un"> FTL: Faster Than Light </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659016 game_row " data-title="legend of grimrock almost human almost human rpg adventure fantasy" id="g_1207659016" > <div class="game-item__inner"> <a class="game-item-box" href="/game/legend_of_grimrock" > <img class="game-item-img" alt="Legend of Grimrock" src="http://static.gog.com/upload/images/2012/03/ca9a896d0693f17d60d651e18293e341d7f68532.jpg"/> </a> <span class="gog-price " data-gameid="1207659016" data-gameindex="legend_of_grimrock"> <span class="price"><span>$</span>14.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/legend_of_grimrock" > <span class="dark_un"> Legend of Grimrock </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659043 game_row " data-title="resonance wadjet eye games xii games and wadjet eye games adventure pointandclick detectivemystery" id="g_1207659043" > <div class="game-item__inner"> <a class="game-item-box" href="/game/resonance" > <img class="game-item-img" alt="Resonance" src="http://static.gog.com/upload/images/2012/05/0129e34797ea7e4a820ebbfc4cb6480b05eed1c5.jpg"/> </a> <span class="gog-price " data-gameid="1207659043" data-gameindex="resonance"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/resonance" > <span class="dark_un"> Resonance </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659070 game_row " data-title="chronicles of riddick assault on dark athena the atari starbreeze studios tigon studios action fpp scifi" id="g_1207659070" > <div class="game-item__inner"> <a class="game-item-box" href="/game/the_chronicles_of_riddick_assault_on_dark_athena" > <img class="game-item-img" alt="Chronicles of Riddick: Assault on Dark Athena, The" src="http://static.gog.com/upload/images/2012/07/8be9d5580f3017c612eca52b874e2ab3f42b6339.jpg"/> </a> <span class="gog-price " data-gameid="1207659070" data-gameindex="the_chronicles_of_riddick_assault_on_dark_athena"> <span class="price"><span>$</span>14.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/the_chronicles_of_riddick_assault_on_dark_athena" > <span class="dark_un"> Chronicles of Riddick: Assault on Dark Athena, The </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659072 game_row " data-title="to the moon freebird games freebird games adventure pointandclick scifi" id="g_1207659072" > <div class="game-item__inner"> <a class="game-item-box" href="/game/to_the_moon" > <img class="game-item-img" alt="To The Moon" src="http://static.gog.com/upload/images/2012/07/246ddbfd2fcb5fe3cf0bcc5366151cf22a495d40.jpg"/> </a> <span class="gog-price " data-gameid="1207659072" data-gameindex="to_the_moon"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/to_the_moon" > <span class="dark_un"> To The Moon </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659037 game_row " data-title="alan wake remedy entertainment remedy entertainment action adventure horror" id="g_1207659037" > <div class="game-item__inner"> <a class="game-item-box" href="/game/alan_wake" > <img class="game-item-img" alt="Alan Wake" src="http://static.gog.com/upload/images/2012/05/3f5cfa37a042ebc36c7412c377f959e4da150ec0.jpg"/> </a> <span class="gog-price " data-gameid="1207659037" data-gameindex="alan_wake"> <span class="price"><span>$</span>29.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/alan_wake" > <span class="dark_un"> Alan Wake </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207658715 game_row " data-title="painkiller black edition nordic games people can fly shooter fpp horror" id="g_1207658715" > <div class="game-item__inner"> <a class="game-item-box" href="/game/painkiller" > <img class="game-item-img" alt="Painkiller Black Edition" src="http://static.gog.com/upload/images/2009/01/9854f384669f4b4fc61875f334c27e81a41543b3.jpg"/> </a> <span class="gog-price " data-gameid="1207658715" data-gameindex="painkiller"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/painkiller" > <span class="dark_un"> Painkiller Black Edition </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659038 game_row " data-title="alan wakes american nightmare remedy entertainment remedy entertainment action adventure horror" id="g_1207659038" > <div class="game-item__inner"> <a class="game-item-box" href="/game/alan_wakes_american_nightmare" > <img class="game-item-img" alt="Alan Wake\'s American Nightmare" src="http://static.gog.com/upload/images/2012/05/2d99ad7b5f01e64d26692ff0b0b2e8401a4ed04d.jpg"/> </a> <span class="gog-price " data-gameid="1207659038" data-gameindex="alan_wakes_american_nightmare"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/alan_wakes_american_nightmare" > <span class="dark_un"> Alan Wake's American Nightmare </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659118 game_row " data-title="hotline miami devolver digital dennaton games action arcade fighting" id="g_1207659118" > <div class="game-item__inner"> <a class="game-item-box" href="/game/hotline_miami" > <img class="game-item-img" alt="Hotline Miami" src="http://static.gog.com/upload/images/2012/10/9beab06bddc75ab8372e833d4851d11239eb6df3.jpg"/> </a> <span class="gog-price " data-gameid="1207659118" data-gameindex="hotline_miami"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/hotline_miami" > <span class="dark_un"> Hotline Miami </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659073 game_row " data-title="gemini rue wadjet eye games wadjet eye games adventure pointandclick detectivemystery" id="g_1207659073" > <div class="game-item__inner"> <a class="game-item-box" href="/game/gemini_rue" > <img class="game-item-img" alt="Gemini Rue" src="http://static.gog.com/upload/images/2012/07/deeb487cdc040bc9ff3a56c8fa33a02fd92018d4.jpg"/> </a> <span class="gog-price " data-gameid="1207659073" data-gameindex="gemini_rue"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/gemini_rue" > <span class="dark_un"> Gemini Rue </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207658979 game_row " data-title="fahrenheit indigo prophecy quantic dream quantic dream action adventure detectivemystery" id="g_1207658979" > <div class="game-item__inner"> <a class="game-item-box" href="/game/fahrenheit_indigo_prophecy" > <img class="game-item-img" alt="Fahrenheit (Indigo Prophecy)" src="http://static.gog.com/upload/images/2011/11/8e37f94943902c98516a6e0b986c85ffd6626c1a.jpg"/> </a> <span class="gog-price " data-gameid="1207658979" data-gameindex="fahrenheit_indigo_prophecy"> <span class="price"><span>$</span>5.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/fahrenheit_indigo_prophecy" > <span class="dark_un"> Fahrenheit (Indigo Prophecy) </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659050 game_row " data-title="blackwell bundle wadjet eye games wadjet eye games adventure pointandclick detectivemystery" id="g_1207659050" > <div class="game-item__inner"> <a class="game-item-box" href="/game/blackwell_bundle" > <img class="game-item-img" alt="Blackwell Bundle" src="http://static.gog.com/upload/images/2012/05/b6f033aff34c9fc6f714fed1ed0f7013572a5e5a.jpg"/> </a> <span class="gog-price " data-gameid="1207659050" data-gameindex="blackwell_bundle"> <span class="price"><span>$</span>14.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/blackwell_bundle" > <span class="dark_un"> Blackwell Bundle </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659024 game_row " data-title="botanicula amanita design amanita design adventure pointandclick puzzle" id="g_1207659024" > <div class="game-item__inner"> <a class="game-item-box" href="/game/botanicula" > <img class="game-item-img" alt="Botanicula" src="http://static.gog.com/upload/images/2012/04/cf1f2e38c07e69141305f6a2b2ded5db1a0824a1.jpg"/> </a> <span class="gog-price " data-gameid="1207659024" data-gameindex="botanicula"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/botanicula" > <span class="dark_un"> Botanicula </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207658807 game_row " data-title="psychonauts double fine productions double fine productions action adventure platformer" id="g_1207658807" > <div class="game-item__inner"> <a class="game-item-box" href="/game/psychonauts" > <img class="game-item-img" alt="Psychonauts" src="http://static.gog.com/upload/images/2012/01/f60e128c98710514b35a5e3472cf4f35bc108406.jpg"/> </a> <span class="gog-price " data-gameid="1207658807" data-gameindex="psychonauts"> <span class="price"><span>$</span>9.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/psychonauts" > <span class="dark_un"> Psychonauts </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i><span class="game-item-works-plus">+</span><i class="fi icon-mac"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div><div class="game-item game-item-2 game_row_1207659105 game_row " data-title="divinity 2 developers cut larian studios larian studios rpg tpp fantasy" id="g_1207659105" > <div class="game-item__inner"> <a class="game-item-box" href="/game/divinity_2_developers_cut" > <img class="game-item-img" alt="Divinity 2: Developer\'s Cut" src="http://static.gog.com/upload/images/2012/10/63082b44457e6c5f2e25e59b2673ab1b06ce48c4.jpg"/> </a> <span class="gog-price " data-gameid="1207659105" data-gameindex="divinity_2_developers_cut"> <span class="price"><span>$</span>19.99</span> <span class="in-cart">in cart</span> <span class="wishlist-icon"></span> <span class="game-owned-in">OWNED</span></span> <div class="game-item-text"> <div class="game-item-title"> <div class="game-item-title-in"> <a class="game-title-link" href="/game/divinity_2_developers_cut" > <span class="dark_un"> Divinity 2: Developer's Cut </span> </a> <div class="game-item-info"><span class="game-item-works">Works on:&nbsp; <i class="fi icon-win"></i> </span> </div> </div> </div> </div> </div> <!-- game-item__inner --></div>
